<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nlp.app.dao.TextSimilarityMapper" >
  <resultMap id="BaseResultMap" type="com.nlp.app.pojo.TextSimilarity" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="text1_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="text2_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="similarityValue" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, text1_id, text2_id, similarityValue
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from text_similarity
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from text_similarity
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.nlp.app.pojo.TextSimilarity" >
    insert into text_similarity (id, text1_id, text2_id, 
      similarityValue)
    values (#{id,jdbcType=BIGINT}, #{text1Id,jdbcType=BIGINT}, #{text2Id,jdbcType=BIGINT}, 
      #{similarityvalue,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.nlp.app.pojo.TextSimilarity" >
    insert into text_similarity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="text1Id != null" >
        text1_id,
      </if>
      <if test="text2Id != null" >
        text2_id,
      </if>
      <if test="similarityvalue != null" >
        similarityValue,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="text1Id != null" >
        #{text1Id,jdbcType=BIGINT},
      </if>
      <if test="text2Id != null" >
        #{text2Id,jdbcType=BIGINT},
      </if>
      <if test="similarityvalue != null" >
        #{similarityvalue,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nlp.app.pojo.TextSimilarity" >
    update text_similarity
    <set >
      <if test="text1Id != null" >
        text1_id = #{text1Id,jdbcType=BIGINT},
      </if>
      <if test="text2Id != null" >
        text2_id = #{text2Id,jdbcType=BIGINT},
      </if>
      <if test="similarityvalue != null" >
        similarityValue = #{similarityvalue,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nlp.app.pojo.TextSimilarity" >
    update text_similarity
    set text1_id = #{text1Id,jdbcType=BIGINT},
      text2_id = #{text2Id,jdbcType=BIGINT},
      similarityValue = #{similarityvalue,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>